    <header style="background-image:url(<%= asset_path 'header.jpg' %>)">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Quotes<br>Quotes</h1>
                <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-4x fa-star text-primary sr-icons"></i>
                    <h2 class="section-heading">Suhyoung Kang</h2>
                    <hr class="light">
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Birth</span> <br>1995.12.27<br> Houston, Texas, USA </p>
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Address</span><br>Sungkyunkwan-ro <br> 7-gil, Jongno-gu, <br> Seoul, South Korea</p>
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Contact</span><br>+82-10-8213-1227<br>suhyoungkang@gmail.com</p>
                    <p class="text-faded col-md-12"><a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a></p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PORTFOLIO</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                    <div class="row">
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                            <h3 class="pfhd">Education</h3>
                                <div class="row pf_div">
                                    <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                    <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                    <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                    <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                    <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                    <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                    </p>
                                </div>
                                <div class="row pf_div">
                                    <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                    <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                    <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                    <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                    <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                    <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                    </p>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                            <h3>Main Activities</h3>
                            <div class="row pf_div">
                                    <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                    <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                    <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                    <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                    <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                    <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                    </p>
                            </div>
                            
                        </div>
                    </div>
                </div> 
                
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="https://www.instagram.com/kangthismoment/" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/1.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    SNS
                                </div>
                                <div class="project-name">
                                    Instagram
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 popup-gallery">
                    <a href="assets/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/2.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 popup-gallery">
                    <a href="assets/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/3.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 popup-gallery">
                    <a href="assets/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/4.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 popup-gallery">
                    <a href="assets/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/5.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 popup-gallery">
                    <a href="assets/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/6.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>010-8213-1227</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>
